In [1]:
# import library
import pandas as pd

In [2]:
data_path = r'D:\GoogleDownloads\2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv'
df = pd.read_csv(data_path)
df

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11
...,...,...,...,...,...,...,...
4995,4996,73,993,330,2,debit,2017-03-30 13:47:17
4996,4997,48,789,234,2,cash,2017-03-16 20:36:16
4997,4998,56,867,351,3,cash,2017-03-19 5:42:42
4998,4999,60,825,354,2,credit_card,2017-03-16 14:51:18
4999,5000,44,734,288,2,debit,2017-03-18 15:48:18

In [3]:
wrong_AOV = df['order_amount'].mean()
print('The wrong average order value (AOV):', round(wrong_AOV, 2))

The wrong average order value (AOV): 3145.13

In [4]:
total_order = df['order_amount'].sum()
total_items = df['total_items'].sum()

In [5]:
print('The total number of order amount:', total_order)

The total number of order amount: 15725640

In [6]:
print('The total number of item:', total_items)

The total number of item: 43936

In [7]:
AOV = total_order/total_items
print('The average order value (AOV):', round(AOV, 2))

The average order value (AOV): 357.92